<a href="https://colab.research.google.com/github/prityd825/Machine_Learning_code/blob/main/Regression_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive .mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder  #pandas get_dummies()

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Dataset/50_Startups_2.csv')

In [ ]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [ ]:
X

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [ ]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [ ]:
he=oOneHotEncoder(drop='first',sparse=False)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
transformer=ColumnTransformer(transformers=[('tkl',OneHotEncoder(drop='first'),[3])] ,remainder='passthrough')

In [ ]:
x_transform=transformer.fit_transform(X)

NameError: ignored

In [ ]:
x_transform

array([[0.0000000e+00, 1.0000000e+00, 1.6534920e+05, 1.3689780e+05,
        4.7178410e+05],
       [0.0000000e+00, 0.0000000e+00, 1.6259770e+05, 1.5137759e+05,
        4.4389853e+05],
       [1.0000000e+00, 0.0000000e+00, 1.5344151e+05, 1.0114555e+05,
        4.0793454e+05],
       [0.0000000e+00, 1.0000000e+00, 1.4437241e+05, 1.1867185e+05,
        3.8319962e+05],
       [1.0000000e+00, 0.0000000e+00, 1.4210734e+05, 9.1391770e+04,
        3.6616842e+05],
       [0.0000000e+00, 1.0000000e+00, 1.3187690e+05, 9.9814710e+04,
        3.6286136e+05],
       [0.0000000e+00, 0.0000000e+00, 1.3461546e+05, 1.4719887e+05,
        1.2771682e+05],
       [1.0000000e+00, 0.0000000e+00, 1.3029813e+05, 1.4553006e+05,
        3.2387668e+05],
       [0.0000000e+00, 1.0000000e+00, 1.2054252e+05, 1.4871895e+05,
        3.1161329e+05],
       [0.0000000e+00, 0.0000000e+00, 1.2333488e+05, 1.0867917e+05,
        3.0498162e+05],
       [1.0000000e+00, 0.0000000e+00, 1.0191308e+05, 1.1059411e+05,
        2.2916095e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0067196e+05, 9.1790610e+04,
        2.4974455e+05],
       [1.0000000e+00, 0.0000000e+00, 9.3863750e+04, 1.2732038e+05,
        2.4983944e+05],
       [0.0000000e+00, 0.0000000e+00, 9.1992390e+04, 1.3549507e+05,
        2.5266493e+05],
       [1.0000000e+00, 0.0000000e+00, 1.1994324e+05, 1.5654742e+05,
        2.5651292e+05],
       [0.0000000e+00, 1.0000000e+00, 1.1452361e+05, 1.2261684e+05,
        2.6177623e+05],
       [0.0000000e+00, 0.0000000e+00, 7.8013110e+04, 1.2159755e+05,
        2.6434606e+05],
       [0.0000000e+00, 1.0000000e+00, 9.4657160e+04, 1.4507758e+05,
        2.8257431e+05],
       [1.0000000e+00, 0.0000000e+00, 9.1749160e+04, 1.1417579e+05,
        2.9491957e+05],
       [0.0000000e+00, 1.0000000e+00, 8.6419700e+04, 1.5351411e+05,
        0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 7.6253860e+04, 1.1386730e+05,
        2.9866447e+05],
       [0.0000000e+00, 1.0000000e+00, 7.8389470e+04, 1.5377343e+05,
        2.9973729e+05],
       [1.0000000e+00, 0.0000000e+00, 7.3994560e+04, 1.2278275e+05,
        3.0331926e+05],
       [1.0000000e+00, 0.0000000e+00, 6.7532530e+04, 1.0575103e+05,
        3.0476873e+05],
       [0.0000000e+00, 1.0000000e+00, 7.7044010e+04, 9.9281340e+04,
        1.4057481e+05],
       [0.0000000e+00, 0.0000000e+00, 6.4664710e+04, 1.3955316e+05,
        1.3796262e+05],
       [1.0000000e+00, 0.0000000e+00, 7.5328870e+04, 1.4413598e+05,
        1.3405007e+05],
       [0.0000000e+00, 1.0000000e+00, 7.2107600e+04, 1.2786455e+05,
        3.5318381e+05],
       [1.0000000e+00, 0.0000000e+00, 6.6051520e+04, 1.8264556e+05,
        1.1814820e+05],
       [0.0000000e+00, 1.0000000e+00, 6.5605480e+04, 1.5303206e+05,
        1.0713838e+05],
       [1.0000000e+00, 0.0000000e+00, 6.1994480e+04, 1.1564128e+05,
        9.1131240e+04],
       [0.0000000e+00, 1.0000000e+00, 6.1136380e+04, 1.5270192e+05,
        8.8218230e+04],
       [0.0000000e+00, 0.0000000e+00, 6.3408860e+04, 1.2921961e+05,
        4.6085250e+04],
       [1.0000000e+00, 0.0000000e+00, 5.5493950e+04, 1.0305749e+05,
        2.1463481e+05],
       [0.0000000e+00, 0.0000000e+00, 4.6426070e+04, 1.5769392e+05,
        2.1079767e+05],
       [0.0000000e+00, 1.0000000e+00, 4.6014020e+04, 8.5047440e+04,
        2.0551764e+05],
       [1.0000000e+00, 0.0000000e+00, 2.8663760e+04, 1.2705621e+05,
        2.0112682e+05],
       [0.0000000e+00, 0.0000000e+00, 4.4069950e+04, 5.1283140e+04,
        1.9702942e+05],
       [0.0000000e+00, 1.0000000e+00, 2.0229590e+04, 6.5947930e+04,
        1.8526510e+05],
       [0.0000000e+00, 0.0000000e+00, 3.8558510e+04, 8.2982090e+04,
        1.7499930e+05],
       [0.0000000e+00, 0.0000000e+00, 2.8754330e+04, 1.1854605e+05,
        1.7279567e+05],
       [1.0000000e+00, 0.0000000e+00, 2.7892920e+04, 8.4710770e+04,
        1.6447071e+05],
       [0.0000000e+00, 0.0000000e+00, 2.3640930e+04, 9.6189630e+04,
        1.4800111e+05],
       [0.0000000e+00, 1.0000000e+00, 1.5505730e+04, 1.2738230e+05,
        3.5534170e+04],
       [0.0000000e+00, 0.0000000e+00, 2.2177740e+04, 1.5480614e+05,
        2.8334720e+04],
       [0.0000000e+00, 1.0000000e+00, 1.0002300e+03, 1.2415304e+05,
        1.9039300e+03],
       [1.0000000e+00, 0.0000000e+00, 1.3154600e+03, 1.1581621e+05,
        2.9711446e+05],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3542692e+05,
        0.0000000e+00],
       [0.0000000e+00, 1.0000000e+00, 5.4205000e+02, 5.1743150e+04,
        0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.1698380e+05,
        4.5173060e+04]])

In [ ]:
#splitting the dataset into traing set and test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x_transform,Y,test_size=0.20,random_state=111)

In [ ]:
#fitting the multiple linear regressions
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)#model train

LinearRegression()

In [ ]:
#predicting the values
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([ 98816.43719482, 100306.34258026,  97605.15825005,  87893.8860393 ,
       115629.44402537, 101693.2457035 , 191989.84982007, 129974.39455303,
        57335.08707427,  90522.26377326])

In [ ]:
#fitting the multiple linear regressions
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor


regressor_dt = DecisionTreeRegressor()
regressor_dt.fit(X_train,Y_train)#model train

DecisionTreeRegressor()

In [ ]:
dt_pred=regressor_dt.predict(X_test)